<h3 class="text-center text-success">Sepet</h3>
<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Adet</th>
        <th>Tutar</th>
        <th>İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let basket of baskets let index = index">
        <th>{{ index + 1 }}</th>
        <td>{{ basket.product.name}}</td>
        <td><input type="number" id="Bquantity-{{basket.product.name}}" #quantity (click)="changeData(basket,quantity)" min="1" class="form-control" [value]="basket.quantity"></td>
        <td>{{(basket.quantity * basket.product.price) | currency: 'TRY' : 'symbol-narrow' : '1.2-2'}}</td>
        <td><button class="btn btn-sm btn-danger" [swal]="deleteSwal" (confirm)="deleteBasket(basket)">Sil</button></td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>Toplam:</th>
            <!-- <th>{{total | currency: 'TRY' : 'symbol-narrow' : '1.2-2'}} </th> -->
            <th [innerText]="this.total| currency: 'TRY' : 'symbol-narrow' : '1.2-2'"></th>
            <th></th>
        </tr>
    </tfoot>
  </table>
<div class="form-group text-center">
<button data-bs-toggle="modal" data-bs-target="#PayModal" class="btn btn-lg btn-success">Ödeme Yap</button>
</div>
<app-payment  ></app-payment>
<swal #deleteSwal title="Sil?" text="Ürünü Silmek İstiyor musunuz?"  type="question" [showCancelButton]="true" [focusCancel]="true" [swalOptions]="{confirmButtonText: 'Sil',cancelButtonText: 'Vazgeç'}"></swal>