<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group text-center">
            <img style="width: 200px;" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/11014567/11014567-50f9b6-1650x1650.jpg">
            <h3>Süt</h3>
            <h4 class="text-danger">40 TL</h4>
            <div class="form-group ">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <input type="number" class="form-control" style="font-weight: 700px;" value="1">
                    </div>
                    <div class="col-lg-4"></div>
                    <div>
                        <button  class="btn btn-primary  mt-2">Sepet Ekle</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group text-center">
            <img style="width: 200px;" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/11014567/11014567-50f9b6-1650x1650.jpg">
            <h3>Süt</h3>
            <h4 class="text-danger">40 TL</h4>
            <div class="form-group ">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <input type="number" class="form-control" style="font-weight: 700px;" value="1">
                    </div>
                    <div class="col-lg-4"></div>
                    <div>
                        <button  class="btn btn-primary  mt-2">Sepet Ekle</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group text-center">
            <img style="width: 200px;" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/11014567/11014567-50f9b6-1650x1650.jpg">
            <h3>Süt</h3>
            <h4 class="text-danger">40 TL</h4>
            <div class="form-group ">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <input type="number" class="form-control" style="font-weight: 700px;" value="1">
                    </div>
                    <div class="col-lg-4"></div>
                    <div>
                        <button  class="btn btn-primary  mt-2">Sepet Ekle</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group text-center">
            <img style="width: 200px;" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/11014567/11014567-50f9b6-1650x1650.jpg">
            <h3>Süt</h3>
            <h4 class="text-danger">40 TL</h4>
            <div class="form-group  ">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <input type="number" class="form-control" style="font-weight: 700px;" value="1">
                    </div>
                    <div class="col-lg-4"></div>
                    <div>
                        <button  class="btn btn-primary  mt-2">Sepet Ekle</button>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
